@{
    ViewData["Title"] = "Calcul";
}

<div class="text-center">
    <h1 class="display-4">Vue計算機</h1>
</div>

<div id="app">
	<div class="textcss">
		{{tempvar}}<br/>{{symbol}}<br/>{{Inputnum}}
	</div>
	<br />
	<br />
	<h2>
		<button v-on:click="add">+</button>
		<button v-on:click="sub">-</button>
		<button v-on:click="mul">*</button>
		<button v-on:click="div">/</button>
	</h2>
    <h2>
		<button v-on:click="inputnumber('7')"> 7 </button>
		<button v-on:click="inputnumber('8')"> 8 </button>
		<button v-on:click="inputnumber('9')"> 9 </button>
    </h2>
	<h2>
		<button v-on:click="inputnumber('4')"> 4 </button>
		<button v-on:click="inputnumber('5')"> 5 </button>
		<button v-on:click="inputnumber('6')"> 6 </button>
    </h2>
	<h2>
		<button v-on:click="inputnumber('1')"> 1 </button>
		<button v-on:click="inputnumber('2')"> 2 </button>
		<button v-on:click="inputnumber('3')"> 3 </button>
    </h2>
	<h2>
		<button v-on:click="inputnumber('0')">0</button>
		<button v-on:click="numberdec('.')">.</button>
		<button v-on:click="reset">C</button>
	</h2>
	<h2>
		<button v-on:click="equ" style="width:300px;">=</button>
	</h2>
</div>
